@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lato');

body {
    background-color: rgba(210, 215, 209, 0.2);
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: rgba(51, 51, 51, 0.75);
}

h1, h2, h3 {
    font-family: "Lato", sans-serif;
}

h1 {

    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 1.75em;
}

a {
    transition: 0.1s;
    color: rgba(51, 51, 51, 0.75);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.title-link:hover {
    color: rgba(0, 0, 0, 0.7);
}

.link-header a {
    font-weight: normal;
    color: rgba(255,255,255,0.9);
    font-size: 1.2em;
    margin: 0 60px 0 60px;
    transition: 0.1s;
}

.link-header a:hover {
    color: white;
}

.block {
    border: 1px solid rgba(128,128,128,0.25);
    box-shadow: 0 0 10px 0 rgba(51,51,51,0.12);
    background-color: white;
    box-sizing: border-box;
    margin-bottom: 25px;
}

/*button, input[type='button'] {*/
    /*cursor: pointer;*/
    /*padding: 10px;*/
    /*!*background-color: white;*!*/
    /*font-family: "Open Sans", sans-serif;*/
/*}*/

.button {
    cursor: pointer;
    display: block;
    padding: 5px;
    min-width: 70px;
    text-align: center;
    font-size: 1em;
    border: none;
    /*color: white;*/
    /*background-color: rgb(82, 201, 255);*/
    transition: 0.3s;
}

.button:hover {
    color: white;
    background-color: rgb(67, 220, 255);
    box-shadow: 0 0 10px 0 rgba(82, 201, 255, 0.9);

}


.input-field {
    border: 1px solid rgba(128,128,128,0.5);
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1em;
}

input {
    font-family: "Open Sans", sans-serif;
}

input:focus {
    outline: none;
}

