@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lato');

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: rgba(0, 0, 0, 0.8);
}

h1, h2, h3 {
    font-family: "Lato", sans-serif;
}

h1 {

    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 1.75em;
}

a {
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
}

.link-header a {
    font-weight: normal;
    color: rgba(255,255,255,0.9);
    font-size: 1.2em;
    margin: 0 60px 0 60px;
    transition: 0.1s;
}

.link-header a:hover {
    color: white;
}

